<div class="books">
  <h3>Vue书城欢迎您
    <a class="add edit">管理书籍</a>
  </h3>
  <div class="main">
    <form>
      <div class="form-group">
        <label for="exampleInputEmail1">书名</label>
        <input type="text" class="form-control" id="book_name" placeholder="书名">
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">书籍在线链接</label>
        <input type="text" class="form-control" id="book_address" placeholder="PDF地址">
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">书籍贡献者</label>
        <input type="text" class="form-control" id="book_provider" placeholder="您的名字将展示在书城">
      </div>
      <!-- <div class="form-group">
        <label for="exampleInputFile">File input</label>
        <input type="file" id="exampleInputFile">
        <p class="help-block">Example block-level help text here.</p>
      </div> -->
      <button type="button" class="btn btn-default">提 交</button>
    </form>
  </div>
</div>
