<div class="books">
  <h3>Vue书城欢迎您<span class="add">添加书籍</span></h3>
  <div class="main">
    <ul>
      <li>
        <div class="cover">
          <img src="http://img3.doubanio.com/lpic/s5944797.jpg" alt="">
        </div>
        <span>Vue书城欢迎您</span>
      </li>
      <li>
        <div class="cover">
          <img src="http://img3.doubanio.com/lpic/s5944797.jpg" alt="">
        </div>
        <span>Vue书城欢迎您</span>
      </li>
      <li>
        <div class="cover">
          <img src="http://img3.doubanio.com/lpic/s5944797.jpg" alt="">
        </div>
        <span>Vue书城欢迎您</span>
      </li>
      <li>
        <div class="cover">
          <img src="http://img3.doubanio.com/lpic/s5944797.jpg" alt="">
        </div>
        <span>Vue书城欢迎您</span>
      </li>
      <li>
        <div class="cover">
          <img src="http://img3.doubanio.com/lpic/s5944797.jpg" alt="">
        </div>
        <span>Vue书城欢迎您</span>
      </li>
      <li>
        <div class="cover">
          <img src="http://img3.doubanio.com/lpic/s5944797.jpg" alt="">
        </div>
        <span>Vue书城欢迎您</span>
      </li>
      <li>
        <div class="cover">
          <img src="http://img3.doubanio.com/lpic/s5944797.jpg" alt="">
        </div>
        <span>Vue书城欢迎您</span>
      </li>
    </ul>
  </div>
</div>
