<div class="books">
  <h3>
    Vue书城欢迎您
    <a class="add" href="/addbook">添加书籍</a>
    <a class="add edit" href="/bookManage" style="display:none">管理书籍</a>
  </h3>
  <div class="main">
    <ul>
      <%if(books.length){%>
        <%for (var i=0;i<books.length;i++){%>
          <%if(books[i].status){%>
            <li>
              <div class="cover">
                <img src="<%= books[i].cover%>" alt="<%= books[i].title%>">
              </div>
              <span><%= books[i].title%><br>贡献者：<%= books[i].provider%></span>
            </li>
          <%}%>
        <%}%>
        <%}else{%>
        <p class="text-center" style="margin:50px auto">No Data</p>
        <%}
      %>
    </ul>
  </div>
</div>
