<%
  var ads = [
    {
      href: '/nav.html',
      label: 'web navigation',
      img_src: 'https://user-images.githubusercontent.com/9276376/27581837-70cf9944-5b61-11e7-8d76-72cfc3856dad.png',
    },
    {
      href:'http://www.react-d.com/api/',
      label: 'fruit-ui',
      img_src: 'https://cloud.githubusercontent.com/assets/9276376/18077980/92747c60-6ebb-11e6-9a6c-e65bfe42d45e.png',
    },
    {
      href:'http://weekly.vue-js.com/#/',
      label: 'weekly',
      img_src: 'https://user-images.githubusercontent.com/9276376/30099651-eb36c06a-9318-11e7-8987-2da1bb2b3e13.png',
    },
    {
      href:'https://promotion.aliyun.com/ntms/act/ambassador/sharetouser.html?userCode=m5qa9mqc&utm_source=m5qa9mqc',
      label: 'fruit-ui',
      img_src: 'https://user-images.githubusercontent.com/9276376/30099311-fd5c02f6-9317-11e7-8103-abb77c02fb40.png',
    },
  ];

%>
<div class='new_panel'>
  <!- 2018/04/19 ->
<div class='inner new_ads'>
  <img onclick="_hmt.push(['_trackEvent','zhufeng', 'advs', 'click']);window.location.href='http://www.zhufengpeixun.cn/main/course/index.html?ref=zb'" src="http://ooaa8syjw.bkt.clouddn.com/FvhctjLHyPoeNGlanoZeFz0DE1LS">
  <a href="mailto:vueclub@126.com?subject=赞助vue中文社区" target="_blank">赞助商</a>
</div>
<div class='inner new_ads'>
    <img onclick="_hmt.push(['_trackEvent','zp', 'advs', 'click']);window.location.href='https://bbs.we7.cc/thread-32436-1-1.html?hmsr=vue&hmpl=&hmcu=&hmkw=&hmci='" src="http://ooaa8syjw.bkt.clouddn.com/Frclq9eHUJjAyOAxQpVRAE7VYY-H">
    <a href="mailto:vueclub@126.com?subject=赞助vue中文社区" target="_blank">赞助商</a>
</div>
</div>
<div class='panel'>
  <div class='inner ads'>

    <% ads.forEach(function (adObj, idx) { %>
      <% if (idx !== 0) { %>
        <div class="sep5"></div>
      <% } %>
      <a href="<%-adObj.href%>" target="_blank" class="banner sponsor_outlink"
    data-label="<%=adObj.label%>">
        <img src="<%- staticFile(adObj.img_src) %>" style="width:100%;height:45px;">
      </a>
    <% }) %>
  </div>
</div>

<script>
  $(window).on('scroll', function(){
    if($(window).scrollTop() > $('.new_panel').offset().top){
      $('.new_panel').addClass('fixed-advs');  
    }else if($(window).scrollTop() < 254){
      $('.new_panel').removeClass('fixed-advs');  
    }
  })
</script>