<%- partial('../sidebar') %>

<div id='content'>
  <div class='panel'>
    <div class='header'>
      <ul class='breadcrumb'>
        <li><a href='/'>主页</a><span class='divider'>/</span></li>
        <li class='active'>Vue.js 参考资料</li>
      </ul>
    </div>
    <div class='inner topic'>
      <div class="topic_content">
<div class="show-content"><h2>文档&amp;社区</h2>
<ul>
<li><a href="http://cn.vuejs.org/" target="_blank">Vue.js官方网站（中文）</a></li>
<li><a href="http://forum.vuejs.org/" target="_blank">Vue论坛</a></li>
<li><a href="http://vuejs.github.io/vue-router/zh-cn/index.html" target="_blank">vue-router</a></li>
<li><a href="https://github.com/vuejs/vue/wiki/User-Contributed-Components-&amp;-Tools" target="_blank">组件库</a></li>
</ul>
<h2>文章</h2>
<ul>
<li>《<a href="http://www.csdn.net/article/1970-01-01/2825439" target="_blank">Vue.js：轻量高效的前端组件化方案</a>》</li>
<li>《Vue.js 和 Webpack》(<a href="http://djyde.github.io/2015/08/29/vuejs-and-webpack-1.html" target="_blank">一</a>)(<a href="http://djyde.github.io/2015/08/29/vuejs-and-webpack-2.html" target="_blank">二</a>)(<a href="http://djyde.github.io/2015/08/29/vuejs-and-webpack-3.html" target="_blank">三</a>)</li>
<li>《<a href="http://teahour.fm/2015/08/16/vuejs-creator-evan-you.html" target="_blank">尤小右采访</a>》作者的采访有一些设计理念</li>
<li><a href="http://www.alloyteam.com/2015/06/mvvm-xue-xi-vue-shi-jian-xiao-jie/" target="_blank">腾讯全端 AlloyTeam 团队《mvvm学习&amp;vue实践小结》</a></li>
<li><a href="http://jiongks.name/blog/just-vue/" target="_blank">Vue + webpack 项目实践</a></li>
<li><a href="http://jiongks.name/blog/vue-code-review/" target="_blank">Vue.js 源码学习笔记</a></li>
<li><a href="https://github.com/vingojw/vue-vueRouter-webpack/blob/master/Vue%E6%95%99%E7%A8%8B.md" target="_blank">Vue教程</a></li>
</ul>
<h2>项目</h2>
<ul>
<li>《<a href="https://github.com/zerqu/qingcheng" target="_blank">青城主题</a>》</li>
<li>《<a href="https://github.com/shinygang/Vue-cnodejs" target="_blank">Cnodejs.org社区webapp</a>》</li>
<li>《<a href="https://github.com/vingojw" target="_blank">vingojw</a>/<a href="https://github.com/vingojw/vue-vueRouter-webpack" target="_blank">vue-vueRouter-webpack</a>》</li>
<li><a href="https://github.com/yuche/vue-strap" target="_blank">Bootstrap components built with Vue.js
</a></li>
<li><a href="https://github.com/viko16/vue-ghpages-blog" target="_blank">A blog based on Github pages by vue.js + webpack</a></li>
<li><a href="https://github.com/vuejs/vue-hackernews" target="_blank"> HackerNews clone with Vue.js</a></li>
<li><a href="http://cn.vuejs.org/examples/" target="_blank">官方示例</a></li>
<li><a href="http://jsfiddle.net/lain8dono/mrnyf79e/" target="_blank">用Vue实现的拖拽效果</a></li>
<li><a href="https://github.com/Coffcer/vue-chat" target="_blank">Chat by Vue + Webpack</a></li>
<li>
<a href="https://github.com/mennghao/vue-mui" target="_blank">vue-mui</a> </li>
<li><a href="https://github.com/laracasts" target="_blank">laracasts</a></li>
<li><a href="https://github.com/laracasts/Laravel-and-Vue" target="_blank">Laravel-and-Vue</a></li>
<li><a href="https://github.com/yang-wei/vue-redux" target="_blank">Vue.js + Redux</a></li>
<li><a href="https://github.com/vuejs/vue-webpack-example" target="_blank">Vue.js + Webpack example</a></li>
<li><a href="https://github.com/bravf/VueUI" target="_blank">基于Vue、Bootstrap的一套MVVM组件，简单、易用、功能强大</a></li>
<li><a href="http://pagekit.com/" target="_blank">一个php的cms，前端用vuejs</a></li>
</ul>
<h2>视频</h2>
<ul>
<li><a href="http://www.imooc.com/video/6346" target="_blank">尤小右分享vuejs 数据驱动的组件化前端开发</a></li>
<li><a href="https://laracasts.com/series/learning-vue-step-by-step" target="_blank">laracasts.com Vuejs1.0教程</a></li>
</ul>
<h2>技术交流</h2>
<ul>
<li><a href="https://gitter.im/vuejs/vue" target="_blank">Vue的聊天室</a></li>
<li><a href="https://twitter.com/vuejs" target="_blank">Vuejs官方推特</a></li>
</ul>
<p>资料来自：Vue qq群（516483308）</p>
</div>
     <!--   <%- markdown(multiline(function () {
/*
## Vue 参考资料

* **[Start building with Ionic!](http://ionicframework.com/getting-started/)**


* **[Ionic Documentation](http://ionicframework.com/docs/)**


* **[Ionic Documentation 非官方镜像](http://ionichina.cn/docs/)**（for墙内朋友）


* **[The Ionic Book](http://ionicframework.com/docs/guide/)**


* **[Ionic Tutorial](http://ccoenraets.github.io/ionic-tutorial/)**


* **[Awesome Ionic](https://github.com/lanceli/awesome-ionic)**


* **[Ionic Framework 说明书](http://ionichina.com/topic/54f70d4e8388fd7a1187b386)**


* **[ngCordova 官方文档](http://ngcordova.com/docs/)**


* **[Apache Cordova Documentation](http://cordova.apache.org/docs/en/5.0.0/)**


*/
        })) %> ->
      </div>
    </div>
  </div>
</div>
